{# Get started #}

<div class="row-fluid">
    <h2>Get started</h2>
    <div>
        <div class="span12">

            <h3>Download</h3>
            <div>
                Domajax can work standalone with jquery, but it is recommanded to use jquery-ui and json2.js for full functionalities and better compatibility.
                <ul>
                    <li>Download the latest domajax version on <a href="https://github.com/Ninsuo/domajax/tree/master/web/js/domajax" target="_blank">GitHub</a></li>
                    <li>Download <a href="http://jquery.com/" target="_blank">jQuery</a>, domajax has been tested with jQuery >= 1.7.0</li>
                    <li>Download <a href="http://jqueryui.com/" target="_blank">jQuery UI</a> (optional)  if you want to use <em>data-highlight</em> option (which uses <b>.animate()</b> on colors).</li>
                    <li>Download <a href="https://github.com/douglascrockford/JSON-js" target="_blank">json2.js</a> or <a href="http://bestiejs.github.io/json3/" target="_blank">json3.js</a> (optional) for a better domajax compatibility with exotic browsers, such as IE7, Safari2 and so on.</li>
                </ul>
            </div>

            <h3>Install</h3>
            <div>
                <p>After downloading all scripts listed above, put and uncompress them in your poject, for example in a <b>js</b> directory.</p>

{% set code %}
KolyMac:domajax-starter ninsuo$ ls -l js
total 272
-rw-r--r--@ 1 ninsuo  staff  95786 Jun 16 17:49 jquery-1.11.1.min.js
drwxr-xr-x@ 6 ninsuo  staff    204 Jun 16 17:50 jquery-ui-1.10.4
-rw-r--r--  1 ninsuo  staff  31167 Jun 16 17:49 jquery.domajax.js
-rw-r--r--@ 1 ninsuo  staff   8143 Jun 16 17:45 json3.min.js
{% endset %}

                <pre>{{ code }}</pre>
                <br/>

                <p>Then, create a <b>demo.php</b> file, and load all javascripts and css.</p>

{% set code %}
<?php

   // here all your php code

?>
 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <link href="js/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.min.css" rel="stylesheet" media="screen">
        <title>My First Domajax Call!</title>
    </head>
    <body>

        <!-- here all your html code -->

        <script src="js/json3.min.js"></script>
        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/jquery-ui-1.10.4/js/jquery-ui-1.10.4.min.js"></script>
        <script src="js/jquery.domajax.js"></script>
    </body>
</html>
{% endset %}

                <pre class="prettyprint">{{ code | e }}</pre>

            </div>

            <h3>Use</h3>
            <div>

                <p>You are now ready! Let's write a <i>Hello, world!</i> example.</p>

                <p>Replace <code>// here all your php code</code> by :</p>
{% set code %}
if (array_key_exists('name', $_POST)) {
	echo "Hello, ", htmlentities($_POST['name']), " !";
	die();
}
{% endset %}
                <pre class='prettyprint'>{{ code | e }}</pre>

                <p>Replace <code>&lt;!-- here all your html code --&gt;</code> by :</p>
{% set code %}
Enter your name:
<input id="name" type="text" />
<button class="domajax click" data-endpoint="demo.php" data-input="#name" data-output="#output">Send</button>
<div id="output"></div>
{% endset %}
                <pre class='prettyprint'>{{ code | e }}</pre>

                <p>And here you go.</p>

                <p>There are 90 other demonstrations available in this documentation.</p>

            </div>

        </div>
    </div>
</div>