{# Home #}
<br/>
<div class="row-fluid">
    <div class="span6">
        <div class="hero-unit">
            <h1>Use Ajax</h1>
            <h2>Without JavaScript</h2>
            <p>
                Domajax is a free jQuery plugin that give you tools to add ajax calls
                within your application, without a piece of javascript.
                It uses HTML5's <code>data-</code> attribute, and jQuery's
                <code>.on()</code> method to handle your ajax interactions.
            </p>
        </div>
        <div class="row-fluid">
            <div class="span2 center">

                {# github button #}
                <iframe src="http://ghbtns.com/github-btn.html?user=ninsuo&repo=domajax&type=watch&count=true&size=medium" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe>
            </div>
            <div class="span2 center">

                {# facebook #}
                <div id="fb-root"></div>
                <script>
                    (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id))
                            return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
                <div class="fb-like" data-href="http://www.domajax.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
            </div>
            <div class="span2 center">

                {# twitter #}
                <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
                <script>
                    !function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "https://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");
                </script>
            </div>
            <div class="span2 center">

                {# google+ #}
                <div class="g-plusone"></div>
                <script type="text/javascript">
                    (function() {
                        var po = document.createElement('script');
                        po.type = 'text/javascript';
                        po.async = true;
                        po.src = 'https://apis.google.com/js/platform.js';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(po, s);
                    })();
                </script>
            </div>
            <div class="span2 center">

                {# flattr #}
                <script id='fbprsjz'>
                    (function(i) {
                        var f, s = document.getElementById(i);
                        f = document.createElement('iframe');
                        f.src = '//api.flattr.com/button/view/?uid=ninsuo&button=compact&url=' + encodeURIComponent(document.URL);
                        f.title = 'Flattr';
                        f.height = 20;
                        f.width = 110;
                        f.style.borderWidth = 0;
                        s.parentNode.insertBefore(f, s);
                    })('fbprsjz');
                </script>
            </div>
            <div class="span2 center">

                {# paypal #}
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="JA43FPBNK23DA">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </div>
    </div>
    <div class="span6">
        <img class="img-rounded" src="{{ asset('img/globe.jpg') }}"/>
    </div>
</div>
