{# Home #}
<br/>
<div class="row-fluid">
   <div class="span6">
      <div class="hero-unit">
         <h1>Use Ajax</h1>
         <h2>Without JavaScript</h2>
         <p>
            Domajax is a free jQuery plugin that give you tools to add ajax calls
            within your application, without a piece of javascript.
            It uses HTML5's <code>data-</code> attribute, and jQuery's
            <code>.on()</code> method to handle your ajax interactions.
         </p>
      </div>
       <div class="row-fluid">
           <div class="span2">
               <iframe src="http://ghbtns.com/github-btn.html?user=ninsuo&repo=domajax&type=fork&count=true&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe>
           </div>
       </div>
   </div>
   <div class="span6">
      <img class="img-rounded" src="{{ asset('img/globe.jpg') }}"/>
   </div>
</div>

