{# src/DomAjaxBundle/Resources/views/Code/data-method.html.twig #}

<div class="row-fluid">
    <h2>data-method</h2>
    <div>
        <div class="span12">
            <p class="lead">Change the HTTP method used to reach the endpoint</p>
            <p>
                <em>data-method</em> lets you change the HTTP method used to reach the endpoint. Default method is POST,
                    but by using this option, you can change it to GET, PUT, DELETE or whatever you need.
            </p>
            <p>
                <div class="alert alert-info">
                        By default, if <em>data-method</em> is not set, the HTTP POST method will be used.
                </div>
            </p>
            <div class="well">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>
                            <u>Usage</u>
                        </h4>
                        <br/>
                        <ul>
                            <li>data-method="method-to-use"</li>
                        </ul>
                    </div>
                    <div class="span6">
                        <h4>
                            <u>Example</u>
                        </h4>
                        <br/>
                        <ul>
                            <li>data-method="get"</li>
                            <li>data-method="put"</li>
                            <li>data-method="delete"</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
