{# src/DomAjaxBundle/Resources/views/Code/data-domajax-prefix.html.twig #}

<div class="row-fluid">
    <h2>data-domajax-prefix</h2>
    <div>
        <div class="span12">
            <p class="lead">Set a prefix to all domajax options (then you're using data-&lt;prefix&gt;&lt;option&gt; instead of data-&lt;option&gt;)</p>
            <br/>
            <p>
                <em>data-domajax-prefix)</em> option allows to set a prefix to all domajax options, this is very helpful when you are using
                several javascript plugins that also use HTML5 <em>data-*</em> attributes.
            </p>
            <div class="well">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>
                            <u>Usage</u>
                        </h4>
                        <br/>
                        <ul>
                            <li>data-domajax-prefix="(prefix)"</li>
                            <li>data-(prefix)endpoint="test.php"</li>
                        </ul>
                    </div>
                    <div class="span6">
                        <h4>
                            <u>Example</u>
                        </h4>
                        <br/>
                        <ul>
                            <li>data-domajax-prefix="foo-"</li>
                            <li>data-foo-endpoint="test.php"</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
