{# src/DomAjaxBundle/Resources/views/Code/data-confirm.html.twig #}

<div class="row-fluid">
    <h2>data-confirm</h2>
    <div>
        <div class="span12">
            <p class="lead">Display a confirmation dialog before starting the ajax call</p>
            <p>This is very easy to click on ajaxed buttons / links, even if the targetted action is important (such as entries deletions, important updates etc).
            This option let you display a confirmation dialog with a customised message, and the ajax call is proceeded only if users click OK button.</p>
            <div class="well">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>
                            <u>Usage</u>
                        </h4>
                        <br/>
                        <ul>
                            <li>data-confirm="confirmation message"</li>
                        </ul>
                    </div>
                    <div class="span6">
                        <h4>
                            <u>Example</u>
                        </h4>
                        <br/>
                        <ul>
                            <li>data-confirm="Are you sure you want to proceed ?"</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
