{# src/DomAjaxBundle/Resources/views/Code/data-endpoint.html.twig #}
<div class="row-fluid">
    <h2>data-endpoint</h2>
    <div>
        <div class="span12">
            <p class="lead">Sets ajax endpoint, the remote file that will be requested.</p>
            <p><div class="alert alert-error"><b>Required</b> if you are not using <em>data-endpoint-container</em>.</div></p>
            <div class="well">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>
                            <u>Usages</u>
                        </h4>
                        <br/>
                        <ul>
                            <li>data-endpoint="relative_url"</li>
                            <li>data-endpoint="/absolute_url"</li>
                            <li>data-endpoint="http://full_url"</li>
                        </ul>
                    </div>
                    <div class="span6">
                        <h4>
                            <u>Examples</u>
                        </h4>
                        <br/>
                        <ul>
                            <li>data-endpoint="world.php"</li>
                            <li>data-endpoint="/hello/world.php"</li>
                            <li>data-endpoint="http://www.example.com/hello/world.php"</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
