{# src/DomAjaxBundle/Resources/views/Code/event-ready.html.twig #}

<div class="row-fluid">
    <h2>Ajax when page is ready (fully loaded)</h2>
    <div>
        <div class="span12">
            <p class="lead">Processes the ajax call when the page has entirely loaded</p>
            <br/>
            <p>
                 If you need to add long-to-get contents on your pages (statistics, remote contents etc), you may slow down your website browsing. A common
                 solution is to load those data asynchronously.
            </p>
            <div class="well">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>
                            <u>Usage</u>
                        </h4>
                        <br/>
                        <ul>
                            <li>class="domajax ready"</li>
                        </ul>
                    </div>
                    <div class="span6">
                       &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
