{# src/DomAjaxBundle/Resources/views/Code/event-click.html.twig #}

<div class="row-fluid">
    <h2>Ajax when clicking elements (buttons, links...)</h2>
    <div>
        <div class="span12">
            <p class="lead">A common way to run ajax calls is to click on links, buttons, or even a div element.</p>
            <br/>
            <p>
               To let you process ajax calls without javascript code (the original promise), jQuery events have already been binded with classes to handle common events.
               <br/>
               Simply put <em>domajax click</em> on an element's class attribute to run a domajax call when clicking it.
            </p>
            <div class="well">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>
                            <u>Usage</u>
                        </h4>
                        <br/>
                        <ul>
                            <li>class="domajax click"</li>
                        </ul>
                    </div>
                    <div class="span6">
                       &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>