{# src/DomAjaxBundle/Resources/views/Code/event-change.html.twig #}

<div class="row-fluid">
    <h2>Ajax when changing form values</h2>
    <div>
        <div class="span12">
            <p class="lead">Process a form field as soon as its state or value changed.</p>
            <p>
               For a better user experience, use <em>domajax change</em> classes to process a domajax call when
               a field state (checkbox, radio, ...) or value (text, textarea) changed.<br/>An application without OK buttons
               feels smooth and smart!
            </p>
            <div class="alert alert-info">
                Removing "OK" buttons makes applications fluider to browse, but don't forget to implement "Undo" logic.
            </div>
            <div class="well">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>
                            <u>Usage</u>
                        </h4>
                        <br/>
                        <ul>
                            <li>class="domajax change"</li>
                        </ul>
                    </div>
                    <div class="span6">
                       &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
